@charset "UTF-8";


:root{

}
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    background-color: #fca910;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    background-color: white;
    width: 300px;
    height: 520px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.434);
}
section#login > div#imagem {
    background-image: url(../imagens/pexels-dinnow-9444476.jpg);
    height: 200px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}
section#login > div#formulario{
    display: block;
    padding: 10px;

}
#formulario > h1{
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
    margin-top: 10px;
}
#formulario > p {
    text-align: justify;
    font-size: 0.8em;
    padding: 10px;
}
label{
    display: none;
}
.campo{
    background-color: #f9be50;
    height: 40px;
    margin: 5px 0px;
    border-radius: 10px;
}

input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 119, 0);
    color: white;
    border: none;
    border-radius: 10px;
   
}
input[type=submit]:hover{
    background-color: #c86700;
}
a.botao{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: orange;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    border: 1px solid orange;
    
}
a.botao:hover{
    background-color: rgb(249, 160, 82);
    color: white;
}